body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.appform {
  width: 500px;
  border: 2px solid blueviolet;
  border-radius: 20px;
  margin-top: 20px;
}

.appform label {
  font-size: 20px;
  padding-bottom: 50px;
  color: blueviolet;
 
}

.appform button {
  background-color:  blueviolet;
  height: 50px;
  border-radius: 50px;
}

h1, h3{
  color: blueviolet;
}

.appform textarea {
  border-radius: 10px;
}

