body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.appform {
  width: 500px;
  border: 2px solid blueviolet;
  border-radius: 20px;
  margin-top: 20px;
}

.appform label {
  font-size: 20px;
  padding-bottom: 50px;
  color: blueviolet;
 
}

.appform button {
  background-color:  blueviolet;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
}

h1, h3{
  color: blueviolet;
}

.appform textarea {
  border-radius: 10px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

h2{
  text-align: center;
}

/*====================
        CARROUSEL
======================*/


.carrousel_wrapper {
  height:700px;
  overflow: hidden;
}

.carrousel_image {
  
  background-size: cover !important;
}

.artist_name {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 160px;
  -webkit-transform: translate(-50%, -50%);  
  transform: translate(-50%, -50%);   
  border: 2px solid white;
  
}

.artist_name .wrapper {
  border: 2px solid white;
  height: 121px;
  margin: 6px;
  text-align: center;
  color: #fff;
  font-size: 40px;
  padding: 10px 70px 0px 70px;
  text-transform: uppercase;
}

 .features{
   display : flex;
  flex-direction : row;
  margin: 0px 0px 100px 0px;
  background-color: #303075;
 clip-path: polygon(0 0, 100% 100%, 0 100%);
  height: 600px;
}

.features .textleft{
  font-size: 25px;
 
 
}
.features .textleft h2, p {
 color: #fff;
 padding-top: 30px;
}

.features .textright { 
 
  width: 100vh;
  height: 500px;
  
}
.features .textright h2, p {
  color: #303075;
  padding-top: 30px;
}

img {
  height: 300px;
  width: 100vh;
}


h2{
  color:#303075
}
 p{
  font-size: 25px;
  
}

